@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Quicksand&display=swap');
:root{
    --shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: inherit;
}


p{
    margin: 0;
    font-size: 1.1em;
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
    font-family: 'Hedvig Letters Serif', serif;
    margin: 0;
}

header{
    position: relative;
    padding: 4em;
    display: flex;
}

main {
    padding: 1em 4em 4em;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 4em;
    background-color: #0A91B2;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-background{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    transform: skewY(-0.2rad) translateY(-160px);
    background-color: #0A91B2;
    box-shadow: var(--shadow);
}

.hero-container{
    display: flex;
}

.photo
{
    max-width: 450px;
    box-shadow: var(--shadow);
}

.hero > h1 {
    margin: 0;
    position: absolute;
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 1);
    bottom: 5%;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    box-shadow: var(--shadow);
}

.about-me>h2{
    font-size: 2em;
}

.about-me>.contact-svg{
    align-self: flex-end;
}

.about-me>.contact-svg>svg{
    width: 2.5em;
    padding-left: 2em;
    padding-right: 0;
}

main>h2{
    margin-bottom: .25em;
    font-size: 1.85em;
}

.project-container{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.project{
    background-color: #ffffff;
    box-shadow: var(--shadow);
}

.project>img{
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.project-info{
    padding: .5em 1em;
    height: 10em;
    display: flex;
    flex-direction: column;
}

.project-info>p{
    margin-top: .5em;
    margin-bottom: 1em;
    font-size: 1em;
}

.project-links{
    display: flex;
    justify-content: space-between;
}

.project-svg{
    display: flex;
    align-items: center;
}

.project-svg>svg{
    width: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
}

footer > picture>img,
footer > picture>source
{
    max-width: 600px;
    box-shadow: var(--shadow);
}

address{
    font-style: normal;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
}

address>h2{
    font-size: 2em;
    margin-bottom: .5em;
}

.contact-svg{
    display: flex;
}

.contact-svg>svg{
    width: 3em;
    padding-right: 3em;
    padding-top: 2em;
}

.contact-element{
    display: flex;
    align-items: center;
}

.contact-element>svg{
    width: 2em;
    fill: #ffffff;
    padding-right: 1em;
}

@media (max-width: 1200px) and (min-width:601px){
    header{
        display: block;
        padding: 8em;
        padding-bottom: 2em;
    }
    .hero-container{
        display: block;
        background-color: #ffffff;
        padding: 2em;
        box-shadow: var(--shadow);
    }
    .hero{
        position: relative;
        float: left;
        margin-right: 2em;
        margin-top: -100px;
        margin-left: -75px;
        width: 50%;
        min-width: 20px;
    }
    .hero>h1{
        position: absolute;
        top: 1%;
        transform: translateX(80%);
        text-align: center;
    }
    .photo{
        width: 100%;
        object-fit: cover;
    }
    .about-me{
        display: inline;
        box-shadow: none;
        background-color: transparent;
    }    
    .contact-svg{
        width: 100%;
        justify-content: center;
    }
    .project-container{
        gap: 2em;
        grid-template-columns: 1fr 1fr;
    }
    footer{
        padding: 1em;
    }
    footer > picture>img,
    footer > picture>source
    {
        max-width: 100%;
    }
}

@media (max-width:600px){
    header, .about-me{
        padding: 0;
    }
    main {
        padding-left: 2em;
        padding-right: 2em;
    }
    footer{
        flex-direction: column;
        padding: 2em;
    }
    .hero > picture>img,
    .hero > picture>source
    {
      max-width: 100%;
    }
    .about-me{
        margin-top: 1em;
        box-shadow: none;
    }
    .about-me>h2{
        align-self: center;
        padding-bottom: .5em;
    }
    .about-me>.contact-svg{
        align-self: center;
    }
    .about-me>.contact-svg>svg{
        width: 2em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .hero>h1{
        padding-left: .5em;
        padding-right: .5em;
    }
    .hero-container{
        flex-direction: column;
        padding: 2em;
    }
    .hero-background{
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: skewY(-0.5rad) translateY(-700px);
    }
    main>h2{
        align-self: center;
        padding-bottom: .5em;
    }
    .project-container{
        gap: 2em;
        grid-template-columns: 1fr;
    }
    address{
        padding: 2em;
    }
    address>h2{
        align-self: center;
    }
    address>.contact-svg{
        padding: 2em;
        justify-content: space-evenly;
    }
    address>.contact-svg>svg{
        padding: 0;
    }
    footer{
        padding: 0;
    }
    footer > picture>img,
    footer > picture>source
    {
       max-width: 100%;
    }
    }